<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Forgot Password</title>
</head>

<body>
    <%- include('./partials/header') -%>
    <div class="form-container">
        <form action="/users/forgot-Password" method="POST" style="border:1px solid #ccc">
            <div class="container">
                <h1>Forgot Your Password?</h1>
                <p>Dont worry! just fill your email and We'll send you a link to reset your password.</p>
                <hr>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>

                <div class="clearfix">
                    <button type="submit" class="signupbtn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>