<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Forgot Password</title>
</head>

<body>
    <%- include('./partials/header') -%>
    <div class="form-container">
        <form action="/users/password-reset/<%= token %>" method="POST" style="border:1px solid #ccc">
            <div class="container">
                <h1>New Password</h1>
                <p>Please enter your New password.</p>
                <hr>
                <input type="hidden" name="resetPasswordToken" value=<%= token %> required> 
                <label for="psw"><b>New password</b></label>
                <input type="text" placeholder="New Password" name="newPassword" required>
                <label for="psw"><b>Confirm password</b></label>
                <input type="password" placeholder="Verify Password" name="verifyPassword" required>

                <div class="clearfix">
                    <button type="submit" class="signupbtn">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>