<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Send Link</title>
</head>

<body>
    <%- include('./partials/header') -%>
    <div class="form-container">
        
            <div class="container">
                <h1>Congratulations</h1>
                <p>Check your email we send a link for reset password on <%= email %></p>
            </div>
     
    </div>
</body>

</html>